/* SilverWare Gallery Variables
===================================================================================================================== */

$gallery-item-margin: $spacer-half;
$gallery-item-font-size: $font-size-sm;
$gallery-item-text-align: center;
